# Environment
.env
.env.local
.env.*.local
apps/mobile/.env

# Node
node_modules/
dist/
coverage/
*.tsbuildinfo
.npm/

# Flutter / Dart
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/.flutter-plugins-dependencies
*.iml

# Android
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/gradle-wrapper.jar
*.apk
*.aab
*.ap_
*.dex
*.class

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/DerivedData/

# Coverage
coverage/
lcov.info
*.lcov

# IDE
.idea/
.vscode/
*.ipr
*.iws
.DS_Store
*.swp
*~

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / misc
Thumbs.db
.turbo
.cache/
data/media/
google-services.json
GoogleService-Info.plist
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
